<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.it.learning.mapper.UserMapper">

    <insert id="insertUserList">
        insert into t_user_test values
        <foreach collection="userList" item="item"  separator=",">
            (#{item.id},#{item.name},#{item.password})
        </foreach>
    </insert>

</mapper>